headerbar.desktop windowcontrols button image {
    color: alpha(white, 0.9);
    background: alpha(black, 0.6);
}

headerbar.desktop windowcontrols button:hover image {
    background: alpha(mix(black, white, 0.1), 0.5);
}

headerbar.desktop windowcontrols button:active image {
    background: alpha(mix(black, white, 0.2), 0.5);
}

.image-preset-button {
    min-width: 80px;
    min-height: 60px;
    padding: 0;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    transition: filter 0.3s ease;
}

.image-preset-button:hover {
    filter: brightness(1.1);
}

.image-preset-button picture {
    border-radius: 9px;
}

.drawing_tool_entry_box {
  border-bottom: 1px solid var(--card-shade-color);
}

/* Gradient Preview Box */
.gradient-preview {
    border-radius: 8px;
    min-width: 120px;
    min-height: 40px;
}

/* Circular color picker*/
.gradient-color-picker {
    border-radius: 50%;
    min-width: 35px;
    min-height: 35px;
    border: 1px solid rgba(255, 255, 255, 1);
    transition: all 0.2s ease;
}

.gradient-color-picker:hover {
    filter: brightness(1.1);
    border-color: white;
}

.gradient-color-picker.dark {
    border: 1px solid black;
}

.gradient-color-picker.dark:hover {
    border-color: black;
}

.gradient-color-picker image {
    color: white;
}

.gradient-color-picker.dark image {
    color: black;
}


.gradient-preset {
    min-width: 60px;
    min-height: 40px;
    background-size: cover;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: filter 0.3s ease;
}

.gradient-preset:hover {
    filter: brightness(1.2);
}

.monospace {
  font-family: monospace;
}


.recent-button{
    background-size: cover;
    transition: filter 0.3s ease;
}

.recent-button:hover{
    filter: brightness(1.1);
}
.recent-button:active{
    filter: brightness(0.9);
}
.recent-button image {
    border-radius: 4px;
}

.bold {
    font-weight: bold;
}

frame.window-border {
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}

.title-entry.no-highlights text selection {
  background-color: transparent;
}

.sourceview.no-highlights text selection {
    background-color: transparent;
}

.title-entry.no-highlights {
  outline: none;
  transition-property: none;
  transition-duration: 0s;
  transition-delay: 0s;
}

.rotate.circular {
  min-width: 30px;
  min-height: 30px;
}

 GtkSourceStyleSchemePreview {
  border-radius: 6px;
}

 GtkSourceStyleSchemePreview > image {
    background-color: @accent_bg_color;
    border-radius:999px;
    margin-right:5px;
    margin-bottom:5px;
}

GtkSourceStyleSchemePreview .selected {
    border: 5px solid @accent_bg_color;
}

.flat-dropdown > button:not(:checked):not(:hover) {
  background: transparent;
  box-shadow: none;
}


/* background selectors */
.color-button {
    border-radius: 50%;
    border: 1px solid @borders;
    padding: 0;
    transition: filter 0.3s ease, outline 0.15s ease, outline-offset 0.15s ease;
}

.checkmark-icon {
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.checkmark-icon.dark {
    color: black;
}

.checkmark-icon.visible {
    opacity: 1;
}

.color-button:focus {
    outline: 2px solid @accent_color;
    outline-offset: 2px;
}

.color-button:focus-visible {
    outline: 2px solid @accent_color;
    outline-offset: 2px;
}

.color-button:hover {
    filter: brightness(1.1);
}

.transparent-color-button {
    background-image:
        linear-gradient(45deg, #545454 25%, transparent 25%, transparent 75%, #545454 75%),
        linear-gradient(45deg, #545454 25%, transparent 25%, transparent 75%, #545454 75%);
    background-color: #a8a8a8;
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

/*drop_overlay.py*/
.drop-overlay-status-page{
  background-color: alpha(@accent_bg_color, 0.5);
  color: @accent_fg_color;
}

